NODE_ENV=development
API_URL='http://localhost:8081'
IMAGE_HOSTNAME='http://localhost:8081/uploads'
API_APIKEY='xxxx'
SESSION_SECRET='xxxx'

DEV_DISCORD_TOKEN='xxx.xxxx.xxxx'
DEV_DISCORD_CHANNEL_ID=1366597049xxxx

DEV_GOOGLE_CLIENT_ID='xxx-xxx.apps.googleusercontent.com'
DEV_GOOGLE_CLIENT_SECRET='xxx-xxxx'
DEV_GOOGLE_REDIRECT_URI='http://example.com/auth/google/callback'

DEV_FACEBOOK_APP_ID='1234'
DEV_FACEBOOK_CLIENT_TOKEN='xxxxx'
DEV_FACEBOOK_REDIRECT_URI='http://example.com/auth/facebook/callback'
#Production
# API_URL='https://nails-nha-y.onrender.com/api/v1'
# API_APIKEY='7a39463e021abc3c095c3f1973bd553f28b912145cd074e11c79152258f7b1d1'

PRO_DISCORD_TOKEN='xxx.xxx.xxx'
PRO_DISCORD_CHANNEL_ID=13665xxxx

PRO_GOOGLE_CLIENT_ID=''
PRO_GOOGLE_CLIENT_SECRET=''
PRO_GOOGLE_REDIRECT_URI=''

PRO_FACEBOOK_APP_ID=''
PRO_FACEBOOK_CLIENT_TOKEN=''
PRO_FACEBOOK_REDIRECT_URI=''

# Google Sheets API configuration
DEV_GOOGLE_SHEET_ID='your_google_sheet_id_here'
DEV_GOOGLE_SERVICE_ACCOUNT_EMAIL='your-service-account@project-id.iam.gserviceaccount.com'
DEV_GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n'
DEV_GOOGLE_API_KEY='your_api_key_here'

PRO_GOOGLE_SHEET_ID=''
PRO_GOOGLE_SERVICE_ACCOUNT_EMAIL=''
PRO_GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=''
PRO_GOOGLE_API_KEY=''