.menu {
  width: 100%;

  a {
    display: block;
    position: relative;
    width: 100%;
    margin-block: 10px;
    background-size: 95%;
    transition: 0.3s ease-out;
    background-repeat: no-repeat;
    background-position: center right;

    &.hot::before {
      content: '';
      width: 55px;
      height: 37px;
      position: absolute;
      left: -34px;
      top: 16px;
      display: inline-block;
      background: url('/images/hot.png') no-repeat center/contain;
    }

    &.active {
      margin-left: 30px !important;
    }

    @media (max-width: 1024px) {
      &.active {
        margin-left: 0 !important;
      }

      &.hot::before {
        display: none;
      }
    }
  }
}

.details {
  background: url('/images/details-bg.png') no-repeat center/contain;
  height: 630px;
  padding: 8px 24px;
  color: var(--main-text-color);

  li {
    list-style: disc;
    margin-left: 20px;
  }
}
