/* theme variables and custom utility classes */

:root {
  --main-color: 242, 0, 2;
  --sub1-color: 255, 169, 0;
  --sub2-color: 242, 230, 214;
  --sub3-color: 160, 224, 228;
  --sub4-color: 255, 169, 0;

  --main-bg-opacity: 247, 245, 236;

  --sub1-text: 51, 51, 51;
  --sub2-text: 44, 62, 80;
  --sub3-text: 245, 130, 168;
  --sub4-text: 248, 248, 248;
  --sub5-text: 81, 81, 81;
  --sub6-text: 102, 102, 102;
  --sub7-text: 149, 149, 149;

  --bg-wave: url('/images/wave.png');
  --bg-wave-mobile: url('/images/wave-mobile.png');
}

.bg-radial-blue {
  background: var(--radial-blue);
}

.bg-linear-blue {
  background: var(--linear-blue);
}

.bg-linear-sky {
  background: var(--linear-sky);
}
